/** Dashboard View **/
.dashboard-item {
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  height: 200px;
  line-height: 200px;
  text-align: center;
  vertical-align: middle;
  width: 50%;
}

.dashboard-item:hover {
  background-color: lightblue;
}
